// {{- /* Go Template */ -}}.
{{- define "array" -}}
{{- $arraytype := (getArrayType .FieldType) -}}
    {{- if eq $arraytype "string" -}}
        {{template "stringarray" .}}
    {{- else if eq $arraytype "bool" -}}
        {{template "boolarray" .}}
    {{- else if eq $arraytype "int" -}}
        {{template "intarray" .}}
    {{- else if eq $arraytype "float" -}}
        {{template "floatarray" .}}
    {{- else if or (eq $arraytype "int") (eq $arraytype "int8") (eq $arraytype "int16") (eq $arraytype "int32") (eq $arraytype "int64") -}}
        {{template "intarray" .}}
    {{- else if or (eq $arraytype "uint") (eq $arraytype "uint8") (eq $arraytype "uint16") (eq $arraytype "uint32") (eq $arraytype "uint64") -}}
        {{template "intarray" .}}
    {{- else if or (eq $arraytype "float32") (eq $arraytype "float64") -}}
        {{template "floatarray" .}}
    {{- else -}}
        {{template "otherarray" .}}
    {{- end -}}
{{- end -}}