// {{- /* Go Template */ -}}.
{{- define "array" -}}
{{- $arraytype := (getArrayType .FieldType) -}}
    {{- if eq $arraytype "string" -}}
        {{template "basicarray" .}}
    {{- else if eq $arraytype "bool" -}}
        {{template "boolarray" .}}
    {{- else if or (eq $arraytype "int") (eq $arraytype "int16") (eq $arraytype "int32") (eq $arraytype "int64") -}}
        {{template "basicarray" .}}
    {{- else if or (eq $arraytype "uint") (eq $arraytype "uint16") (eq $arraytype "uint32") (eq $arraytype "uint64") -}}
        {{template "basicarray" .}}
    {{- else if or (eq $arraytype "float32") (eq $arraytype "float64") -}}
        {{template "basicarray" .}}
    {{- else if eq $arraytype "time.Time" -}}
        {{template "basicarray" .}}
    {{- else if or (eq $arraytype "byte") (eq $arraytype "uint8") (eq $arraytype "int8") -}}
        {{template "bytearray" .}}
    {{- else if or (eq $arraytype "*int") (eq $arraytype "*int16") (eq $arraytype "*int32") (eq $arraytype "*int64") -}}
        {{template "pointerarray" .}}
    {{- else if or (eq $arraytype "*uint") (eq $arraytype "*uint16") (eq $arraytype "*uint32") (eq $arraytype "*uint64") -}}
        {{template "pointerarray" .}}
    {{- else if or (eq $arraytype "*float32") (eq $arraytype "*float64") -}}
        {{template "pointerarray" .}}
    {{- else if eq $arraytype "*string" -}}
        {{template "pointerarray" .}}
    {{- else if eq $arraytype "*bool" -}}
        {{template "pointerboolarray" .}}
    {{- else if eq $arraytype "*time.Time" -}}
        {{template "pointerarray" .}}
    {{- else if or (eq $arraytype "*byte") (eq $arraytype "*uint8") (eq $arraytype "*int8") -}}
        {{template "pointerbytearray" .}}
    {{- else -}}
        {{template "basicarray" .}}
    {{- end -}}
{{- end -}}

{{define "basicarray"}}
    {{- $cote := "" -}}
    {{- if or (eq .FieldType "[]time.Time") (eq .FieldType "[]string") -}}
        {{- $cote = "\\\"" -}}
    {{- end -}}
    if {{.Value}} == nil {
        {{ method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .Stop .Final }}
    } else {
        for i, v := range {{.Value}} {
            if i != 0 {
                {{ method .Method "start" "\"" }}{{$cote}},{{$cote}}{{ method .Method "end" "\"" }}
            } else {
                {{ method .Method .Start .Header }}{{.JSONName}}[{{$cote}}{{ method .Method .Stop "\"" }}
            }
            {{ method .Method "start" "" -}}
            {{- if eq .FieldType "[]time.Time" -}}
                {{template "datevalue" dict "Value" "v" "FieldName" .FieldName}}
            {{- else if eq .FieldType "[]string" -}}
                v
            {{- else if eq .FieldType "[]float32" -}}
                {{template "float32" dict "Value" "v"}}
            {{- else if eq .FieldType "[]float64" -}}
                {{template "float64" dict "Value" "v"}}
            {{- else if or (eq .FieldType "[]int") (eq .FieldType "[]int16") (eq .FieldType "[]int32") (eq .FieldType "[]int64") -}}
                {{template "intvalue" dict "Value" "v"}}
            {{- else if or (eq .FieldType "[]uint") (eq .FieldType "[]uint16") (eq .FieldType "[]uint32") (eq .FieldType "[]uint64") -}}
                {{template "intvalue" dict "Value" "v"}}
            {{- else -}}
                {{template "othervalue" dict "Value" "v"}}
            {{- end -}}
            {{- method .Method "end" "" }}
        }
        {{ method .Method "start" "\"" }}{{$cote}}]{{ method .Method "end" .Final }}
    }
{{end}}

{{- define "pointerarray" }}
    {{- $cote := "" -}}
    {{- if or (eq .FieldType "[]*time.Time") (eq .FieldType "[]*string") -}}
        {{- $cote = "\\\"" -}}
    {{- end }}
    if {{.Value}} == nil {
        {{ method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .Stop .Final }}
    } else {
        size{{.Name}} := len({{.Value}})-1
        reminder{{.Name}} := false
        for i, v := range {{.Value}} {
            if v == nil {
                if i != 0 && i != size{{.Name}} {
                    if reminder{{.Name}} {
                        {{ method .Method "start" "\"" }}{{$cote}},null{{ method .Method "end" "\"" }}
                    } else {
                        {{ method .Method "start" "\"" }},null{{ method .Method "end" "\"" }}
                    }
                } else if i != 0 {
                    if reminder{{.Name}} {
                        {{ method .Method "start" "\"" }}{{$cote}},null]{{ method .Method "end" .Final }}
                    } else {
                        {{ method .Method "start" "\"" }},null]{{ method .Method "end" .Final }}
                    }
                } else if i != size{{.Name}} {
                    {{ method .Method .Start .Header }}{{.JSONName}}[null{{ method .Method .Stop "\"" }}
                } else {
                    {{ method .Method .Start .Header }}{{.JSONName}}[null]{{ method .Method .Stop .Final }}
                }
                reminder{{.Name}} = false
            } else {
                if i != 0 {
                    if reminder{{.Name}} {
                        {{ method .Method "start" "\"" }}{{$cote}},{{$cote}}{{ method .Method "end" "\"" }}
                    } else {
                        {{ method .Method "start" "\"" }},{{$cote}}{{ method .Method "end" "\"" }}
                    }
                } else {
                    {{ method .Method .Start .Header }}{{.JSONName}}[{{$cote}}{{ method .Method .Stop "\"" }}                  
                }
                {{ method .Method "start" "" }}
                {{- if eq .FieldType "[]*string" -}}
                    *v
                {{- else if eq .FieldType "[]*time.Time" -}}
                    {{template "datevalue" dict "Value" "*v" "FieldName" .FieldName}}
                {{- else if eq .FieldType "[]*float32" -}}
                    {{template "float32" dict "Value" "*v" }}
                {{- else if eq .FieldType "[]*float64" -}}
                    {{template "float64" dict "Value" "*v" }}
                {{- else if or (eq .FieldType "[]*int") (eq .FieldType "[]*int16") (eq .FieldType "[]*int32") (eq .FieldType "[]*int64") -}}
                    {{template "intvalue" dict "Value" "*v"}}
                {{- else if or (eq .FieldType "[]*uint") (eq .FieldType "[]*uint16") (eq .FieldType "[]*uint32") (eq .FieldType "[]*uint64") -}}
                    {{template "intvalue" dict "Value" "*v"}}
                {{- else -}}
                    {{template "othervalue" dict "Value" "*v"}}
                {{- end -}}
                {{ method .Method "end" "" }}
                if i != size{{.Name}} {
                    reminder{{.Name}} = true
                } else {
                    {{ method .Method "start" "\"" }}{{$cote}}]{{ method .Method "end" .Final }}
                }
            }
        }
    }
{{- end -}}