// {{- /* Go Template */ -}}.
{{define "bool"}}
    {{- $final := "\"" -}}
    {{ if eq .Last "true" -}}
        {{- $final = "}\"" -}}
    {{- end -}}
    if {{.Value}} {
        {{ method .Method .Start .Header }}{{.JSONName}}{{template "boolvalue" dict "Value" true}}{{ method .Method .End $final }}
    } else {
        {{ method .Method .Start .Header }}{{.JSONName}}{{template "boolvalue" dict "Value" false}}{{ method .Method .End $final }}
    }
{{end}}

{{define "uniqueBool"}}
    {{- range $i, $field := .Fields -}}
var TRUE{{.JSONName}}_{{$.Gentype}} []byte = []byte( "{\"{{.JSONName}}\":true}")
var FALSE{{.JSONName}}_{{$.Gentype}} []byte = []byte( "{\"{{.JSONName}}\":false}")

func ({{.ReceiverName}} {{$.TypeName}}) MarshalJSON_{{$.Gentype}}() ([]byte, error) {
    if b.BoolField {
        return TRUE{{.JSONName}}_{{$.Gentype}}, nil
    } else {
        return FALSE{{.JSONName}}_{{$.Gentype}}, nil
    }
}
    {{- end -}}
{{end}}

{{define "boolarray"}}
    {{- $final := "\"" -}}
    {{ if eq .Last "true" -}}
        {{- $final = "}\"" -}}
    {{- end -}}
    size{{.Name}} := len({{.Value}})-1
    for i, v := range {{.Value}} {
         if v {
            if i > 0 {
                if i == size{{.Name}} {
                    {{ method .Method "start" "\"," }}{{template "boolvalue" dict "Value" true}}]{{ method .Method "end" $final }}
                } else {
                    {{ method .Method "start" "\"," }}{{template "boolvalue" dict "Value" true}}{{ method .Method "end" "\"" }}
                }
            } else if i == size{{.Name}} {
                {{ method .Method .Start .Header }}{{.JSONName}}[{{template "boolvalue" dict "Value" true}}]{{ method .Method .End $final }}
            } else {
                {{ method .Method .Start .Header }}{{.JSONName}}[{{template "boolvalue" dict "Value" true}}{{ method .Method .End "\"" }}
            }
        } else {        
            if i > 0 {
                if i == size{{.Name}} {
                    {{ method .Method "start" "\"," }}{{template "boolvalue" dict "Value" false}}]{{ method .Method "end" $final }}
                } else {
                    {{ method .Method "start" "\"," }}{{template "boolvalue" dict "Value" false}}{{ method .Method "end" "\"" }}
                }
            } else if i == size{{.Name}} {
                {{ method .Method .Start .Header }}{{.JSONName}}[{{template "boolvalue" dict "Value" false}}]{{ method .Method .End $final }}
            } else {
                {{ method .Method .Start .Header }}{{.JSONName}}[{{template "boolvalue" dict "Value" false}}{{ method .Method .End "\"" }}
            }
        }
    }
{{end}}

{{define "boolvalue"}}
    {{- if .Value -}}
        true
    {{- else -}}
        false
    {{- end -}}
{{end}}