// {{- /* Go Template */ -}}.
{{define "bool"}}
    if {{.Value}} {
        {{.Header}}{{.JSONName}}{{.Start}}true{{.Stop}}{{.Footer}}
    } else {
        {{.Header}}{{.JSONName}}{{.Start}}false{{.Stop}}{{.Footer}}
    }
{{end}}