// {{- /* Go Template */ -}}.
{{define "boolvalue"}}
    if {{.Value}} {
        {{ method .Method .Start .Header }}{{.JSONName}}{{.Begin}}true{{.End}}{{ method .Method .Stop .Final }}
    } else {
        {{ method .Method .Start .Header }}{{.JSONName}}{{.Begin}}false{{.End}}{{ method .Method .Stop .Final }}
    }
{{end}}

{{define "uniqueBool"}}
    {{- range $i, $field := .Fields -}}
var TRUE{{.JSONName}}_{{$.Gentype}} []byte = []byte( "{\"{{.JSONName}}\":true}")
var FALSE{{.JSONName}}_{{$.Gentype}} []byte = []byte( "{\"{{.JSONName}}\":false}")

func ({{.ReceiverName}} {{$.TypeName}}) MarshalJSON_{{$.Gentype}}() ([]byte, error) {
    if b.BoolField {
        return TRUE{{.JSONName}}_{{$.Gentype}}, nil
    } else {
        return FALSE{{.JSONName}}_{{$.Gentype}}, nil
    }
}
    {{- end -}}
{{end}}

{{define "boolarray"}}
    if {{.Value}} == nil {
        {{- method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .Stop .Final -}}
    } else {
        size{{.Name}} := len({{.Value}})-1
        for i, v := range {{.Value}} {
            if i > 0 {
                if i == size{{.Name}} {
                    {{ template "boolvalue" dict "Value" "v" "JSONName" "" "Begin" "" "End" "]" "Start" "start" "Stop" "stop" "Method" .Method "Header" "\"," "Final" .Final  }}
                } else {
                    {{ template "boolvalue" dict "Value" "v" "JSONName" "" "Begin" "" "End" "" "Start" "start" "Stop" "stop" "Method" .Method "Header" "\"," "Final" "\""  }}
                }
            } else if i == size{{.Name}} {
                {{ template "boolvalue" dict "Value" "v" "JSONName" .JSONName "Begin" "[" "End" "]" "Start" .Start "Stop" .Stop "Method" .Method "Header" .Header "Final" .Final  }}
            } else {
                {{ template "boolvalue" dict "Value" "v" "JSONName" .JSONName "Begin" "[" "End" "" "Start" .Start "Stop" .Stop "Method" .Method "Header" .Header "Final" "\""  }}   
            }
        }
    }
{{end}}

{{define "pointerboolarray"}}
    if {{.Value}} == nil {
        {{- method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .Stop .Final -}}
    } else {
        size{{.Name}} := len({{.Value}})-1
        for i, v := range {{.Value}} {
            if v == nil {
                if i > 0 {
                    if i == size{{.Name}} {
                        {{ method .Method "start" "\"," }}null]{{ method .Method "stop" .Final }}
                    } else {
                        {{ method .Method "start" "\"," }}null{{ method .Method "stop" "\"" }}
                    }
                } else if i == size{{.Name}} {
                    {{ method .Method .Start .Header }}{{.JSONName}}[null]{{ method .Method .Stop .Final }}
                } else {
                    {{ method .Method .Start .Header }}{{.JSONName}}[null{{ method .Method .Stop "\"" }}
                }
            } else {        
                if i > 0 {
                    if i == size{{.Name}} {
                        {{ template "boolvalue" dict "Value" "*v" "JSONName" "" "Begin" "" "End" "]" "Start" "start" "Stop" "stop" "Method" .Method "Header" "\"," "Final" .Final  }}
                    } else {
                        {{ template "boolvalue" dict "Value" "*v" "JSONName" "" "Begin" "" "End" "" "Start" "start" "Stop" "stop" "Method" .Method "Header" "\"," "Final" "\""  }}
                    }
                } else if i == size{{.Name}} {
                    {{ template "boolvalue" dict "Value" "*v" "JSONName" .JSONName "Begin" "[" "End" "]" "Start" .Start "Stop" .Stop "Method" .Method "Header" .Header "Final" .Final  }}
                } else {
                    {{ template "boolvalue" dict "Value" "*v" "JSONName" .JSONName "Begin" "[" "End" "" "Start" .Start "Stop" .Stop "Method" .Method "Header" .Header "Final" "\""  }}   
                }
            }
        }
    }
{{end}}