// {{- /* Go Template */ -}}.
{{- define "datedef" -}}
type {{.FieldName}}CustomTime struct {
	time.Time
}

func (t {{.FieldName}}CustomTime) MarshalJSON() ([]byte, error) {
	return []byte(t.Format({{.FieldName}}Format)), nil
}

func (t *{{.FieldName}}CustomTime) UnmarshalJSON(b []byte) (err error) {
	date, err := time.Parse({{.FieldName}}Format, string(b))
	if err != nil {
		return err
	}
	t.Time = date
	return
}

{{- end -}}

{{- define "datevalue" -}}
    {{.Value}}.Format({{.FieldName}}Format)
{{- end -}}

{{- define "date" -}}
    {{- method .Method .Start .Header }}{{.JSONName}}{{ method .Method .End "\\\"\"" -}}
    {{ method .Method "start" "" }}{{template "datevalue" .}}{{ method .Method "end" "" }}
    {{ if eq .Last "true" -}}
        {{ method .Method "start" "" }}"\"{{ method .Method "end" .Final }}
    {{- end -}}
{{- end -}}

{{define "pointerdate"}}
    if {{.Value}} != nil {
        {{- method .Method .Start .Header }}{{.JSONName}}{{ method .Method .End "\\\"\"" -}}
        {{ method .Method "start" "" }}{{template "datevalue" dict "Value" (printf "(*%s)" .Value) "FieldName" .FieldName}}{{ method .Method "end" "" -}}
        {{ method .Method "start" "" }}"\"{{ method .Method "end" .Final }}
    } else {
        {{- method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .End .Final -}}
    }
{{end}}

{{- define "pointerdatearray" }}
    if {{.Value}} == nil {
        {{ method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .End .Final }}
    } else {
        size{{.Name}} := len({{.Value}})-1
        reminder{{.Name}} := false
        for i, v := range {{.Value}} {
            if v == nil {
                if i != 0 && i != size{{.Name}} {
                    if reminder{{.Name}} {
                        {{ method .Method "start" "\"" }}\",null{{ method .Method "end" "\"" }}
                    } else {
                        {{ method .Method "start" "\"" }},null{{ method .Method "end" "\"" }}
                    }
                } else if i != 0 {
                    if reminder{{.Name}} {
                        {{ method .Method "start" "\"" }}\",null]{{ method .Method "end" .Final }}
                    } else {
                        {{ method .Method "start" "\"" }},null]{{ method .Method "end" .Final }}
                    }
                } else if i != size{{.Name}} {
                    {{ method .Method .Start .Header }}{{.JSONName}}[null{{ method .Method .End "\"" }}
                } else {
                    {{ method .Method .Start .Header }}{{.JSONName}}[null]{{ method .Method .End .Final }}
                }
                reminder{{.Name}} = false
            } else {
                if i != 0 {
                    if reminder{{.Name}} {
                        {{ method .Method "start" "\"" }}\",\"{{ method .Method "end" "\"" }}
                    } else {
                        {{ method .Method "start" "\"" }},\"{{ method .Method "end" "\"" }}
                    }
                } else {
                    {{ method .Method .Start .Header }}{{.JSONName}}[\"{{ method .Method .End "\"" }}                  
                }
                {{ method .Method "start" "" }}{{template "datevalue" dict "Value" "(*v)" "FieldName" .FieldName}}{{ method .Method "end" "" }}
                if i != size{{.Name}} {
                    reminder{{.Name}} = true
                } else {
                    {{ method .Method "start" "\"" }}\"]{{ method .Method "end" .Final }}
                }
            }
        }
    }
{{- end -}}