// {{- /* Go Template */ -}}.
{{- define "datedef" -}}
type {{.FieldName}}CustomTime struct {
	time.Time
}

func (t {{.FieldName}}CustomTime) MarshalJSON() ([]byte, error) {
	return []byte(t.Format({{.FieldName}}Format)), nil
}

func (t *{{.FieldName}}CustomTime) UnmarshalJSON(b []byte) (err error) {
	date, err := time.Parse({{.FieldName}}Format, string(b))
	if err != nil {
		return err
	}
	t.Time = date
	return
}

{{- end -}}