// {{- /* Go Template */ -}}.
{{- define "parsefloat" -}}
    {{.Header}}{{.Start}}strconv.ParseFloat(float64({{.Value}}), 64){{.Stop}}{{.Footer}}
{{- end -}}

{{- define "float32" -}}
    strconv.FormatFloat(float64({{.Value}}), 'f', -1, 32)
{{- end -}}

{{- define "float64" -}}
    strconv.FormatFloat({{.Value}}, 'f', -1, 64)
{{- end -}}

{{define "pointerfloatarray"}}
    if {{.Value}} == nil {
        {{- method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .End .Final -}}
    } else {
        for i, v := range {{.Value}} {
            if i > 0 {
                if v != nil {
                    {{ method .Method "start" "\"" }},{{ method .Method "end" "\"" }}
                    {{ if eq .FieldType "[]*float32" -}}
                    {{ method .Method "start" "" }}{{template "float32" dict "Value" "*v" }}{{ method .Method "end" "" -}}
                    {{ else if eq .FieldType "[]*float64" -}}
                    {{ method .Method "start" "" }}{{template "float64" dict "Value" "*v" }}{{ method .Method "end" "" -}}
                    {{ end }}
                } else {
                    {{ method .Method "start" "\"" }},null{{ method .Method "end" "\"" }}
                }
            } else if v != nil {
                {{- method .Method .Start .Header }}{{.JSONName}}[{{ method .Method .End "\"" }}
                {{ if eq .FieldType "[]*float32" -}}
                {{ method .Method "start" "" }}{{template "float32" dict "Value" "*v" }}{{ method .Method "end" "" -}}
                {{ else if eq .FieldType "[]*float64" -}}
                {{ method .Method "start" "" }}{{template "float64" dict "Value" "*v" }}{{ method .Method "end" "" -}}
                {{ end }}
            } else {
                {{- method .Method .Start .Header }}{{.JSONName}}[null{{ method .Method .End "\"" }}
            }
        }
        {{ method .Method "start" "" }}"]{{ method .Method "end" .Final }}
    }
{{end}}