// {{- /* Go Template */ -}}.
{{- define "float" -}}
    {{- method .Method .Start .Header }}{{.JSONName}}{{ method .Method .End "\"" -}}
    {{- if eq .FieldType "float32" -}}
        {{ method .Method "start" "" }}{{template "float32" .}}{{ method .Method "end" "" -}}
    {{- else if eq .FieldType "float64" -}}
        {{ method .Method "start" "" }}{{template "float64" .}}{{ method .Method "end" "" -}}
    {{- end -}}
    {{ if eq .Last "true" -}}
        {{ method .Method "start" "" }}"}"{{ method .Method "end" "" -}}
    {{- end -}}
{{- end -}}

{{- define "parsefloat" -}}
    {{.Header}}{{.Start}}strconv.ParseFloat(float64({{.Value}}), 64){{.Stop}}{{.Footer}}
{{- end -}}

{{- define "float32" -}}
    strconv.FormatFloat(float64({{.Value}}), 'f', -1, 32)
{{- end -}}

{{- define "float64" -}}
    strconv.FormatFloat({{.Value}}, 'f', -1, 64)
{{- end -}}

{{define "floatarray"}}
    {{ method .Method .Start .Header }}{{.JSONName}}[{{ method .Method .End "\"" }}
    for i, v := range {{.Value}} {
        if i > 0 {
            {{ method .Method "start" "" }}","{{ method .Method "end" "" }}
        }
        {{ if eq .FieldType "[]float32" -}}
        {{ method .Method "start" "" }}{{template "float32" dict "Value" "v"}}{{ method .Method "end" "" -}}
        {{ else if eq .FieldType "[]float64" -}}
        {{ method .Method "start" "" }}{{template "float64" dict "Value" "v"}}{{ method .Method "end" "" -}}
        {{ end }}
    }
    {{ if eq .Last "true" -}}
        {{ method .Method "start" "" }}"]}"{{ method .Method "end" "" }}
    {{- end -}}
{{end}}

{{define "pointerfloat"}}
    {{- $final := "\"" -}}
    {{ if eq .Last "true" -}}
        {{- $final = "}\"" -}}
    {{- end -}}
    if {{.Value}} != nil {
        {{- method .Method .Start .Header }}{{.JSONName}}"{{ method .Method .End "" -}}
        {{ if eq .FieldType "*float32" -}}
        {{ method .Method "start" "" }}{{template "float32" dict "Value" (printf "*%s" .Value)}}{{ method .Method "end" "" -}}
        {{ else if eq .FieldType "*float64" -}}
        {{ method .Method "start" "" }}{{template "float64" dict "Value" (printf "*%s" .Value)}}{{ method .Method "end" "" -}}
        {{ end }}
        {{ if eq .Last "true" -}}
        {{ method .Method "start" "\"" }}{{ method .Method "end" $final }}
        {{- end }}
    } else {
        {{- method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .End $final -}}
    }
{{end}}