{{- /* Go Template */ -}}
{{define "plus"}}
package {{.Package}}

{{- /* set construction variables */ -}}
{{- $method := "plus" -}}
{{- $methodVar := "\n\tvar result string\n\t" -}}

{{- $methodHeader := "result = \"," -}}
{{- $methodHeaderFirst := "result := \"{" -}}
{{- $methodHeaderFirstBool := "result = \"{" -}}
{{- $methodHeaderUniqueBool := "return ([]byte( \"{" -}}

{{- $methodStart := "\"+" -}}
{{- $methodStartFirst := "\"+" -}}
{{- $methodStartString := "\\\"\"+" -}}
{{- $methodStartFirstString := "\\\"\"+" -}}

{{- $methodStop := "" -}}
{{- $methodStopLast := "+\"}" -}}
{{- $methodStopString := "+ \"\\\"" -}}

{{- $methodNextLine := "\n\t" -}}

{{- $methodFooter := "" -}}
{{- $methodFooterLast := "}\"" -}}
{{- $methodFooterBool := "\"" -}}
{{- $methodFooterFirstBool := "\"" -}}
{{- $methodFooterUniqueBool := "}\")), nil" -}}

{{- $methodFinalReturn := "\n\treturn []byte(result), nil" -}}

{{- $imports := (len .Includes) -}}
{{ if gt $imports 0 }}
import (
    {{ range $include := .Includes }}
    "{{$include}}"
    {{ end }}
)
{{ end }}
{{ $lastIndex := sub (len .Fields) 1 }}

func ({{.ReceiverName}} {{.TypeName}}) MarshalJSON_{{$method}}() ([]byte, error) { 
    {{- $previousType := "" -}}
    {{range $i, $field := .Fields}}
        {{- if and ( eq $i 0) (eq .FieldType "bool") (gt $lastIndex 0) }}
            {{- printf $methodVar }}
        {{- end -}}
       
        {{- /* prepare {{.Header}}{{.JSONName}}{{.Start}}...{{.Value}}...{{.Stop}}{{.Footer}} */ -}}
        {{- /* prepare start of line */ -}}
        {{- $header := $methodHeader -}}
        {{- if eq $i 0 -}}
            {{- $header = $methodHeaderFirst -}}
            {{- if and (eq .FieldType "bool") (eq $i $lastIndex) -}}
                {{- $header = $methodHeaderUniqueBool -}}
            {{- else if and (eq .FieldType "bool") -}}
                {{- $header = $methodHeaderFirstBool -}}
            {{- end -}}
        {{- end -}}
        {{- $previousType = (print $field.FieldType) -}}

        {{- /* prepare mid line */ -}}
        {{- $start := $methodStart -}}
        {{- if eq $i 0 -}}
            {{- if eq .FieldType "string" -}}
                {{- $start = $methodStartFirstString -}}
            {{- else -}}
                {{- $start = $methodStartFirst -}}
            {{- end -}}
        {{- else if eq .FieldType "string" -}}
            {{- $start = $methodStartString -}}
        {{- end -}}
        {{- $stop := $methodStop -}}
        {{- if eq $i $lastIndex -}}
            {{- if eq .FieldType "string" -}}
                {{- $stop = $methodStopString -}}
            {{- else  -}}
                {{- $stop = $methodStopLast -}}
            {{- end -}}
        {{- end -}}

        {{- /* prepare end of line */ -}}
        {{- $footer := $methodFooter -}}
        {{- if eq .FieldType "bool" -}}
            {{- if and (eq $i $lastIndex) (eq $i 0) -}}
                {{- $footer = $methodFooterUniqueBool -}}
            {{- else if and (eq $i $lastIndex) -}}
                {{- $footer = $methodFooterLast -}}
            {{- else if and (eq $i 0) -}}
                {{- $footer = $methodFooterFirstBool -}}
            {{- else -}}
                {{- $footer = $methodFooterBool -}}
            {{- end -}}
        {{- else if eq $i $lastIndex -}}
            {{- $footer = $methodFooterLast -}}
        {{- end -}}

        {{- /* package the line with value */ -}}
        {{- template "fieldValue" dict "FieldType" $field.FieldType "Value" (printf "%s.%s" $.ReceiverName $field.Name ) "JSONName" (printf "\\\"%s\\\":" $field.JSONName) "Header" (print $header) "Footer" (printf $footer) "Start" (print $start) "Stop" (printf $stop) -}}

        {{- if not (eq $previousType "bool") }}
        {{- printf $methodNextLine -}}
        {{- end -}}

    {{end}}
    {{- if or (gt $lastIndex 0) (not (eq $previousType "bool")) -}}
    {{ printf $methodFinalReturn }}
    {{ end }} 
}
{{end}}