{{- /* Go Template */ -}}
{{define "test"}}
package {{.Package}}

import (
    "encoding/json"
	"reflect"
	"testing"
	"log"
	"strconv"
)

type {{.TypeName}}Ref struct {
{{range $i, $field := .Fields }}
	{{$field.Name}}  {{ $field.FieldType }} `json:"{{$field.JSONName}}"`
{{- end}}
}

type {{.TypeName}}Test struct {
	name    string
	fields  {{.TypeName}}Ref
	want    []byte
}

func init() {
	// use json.Marshal to generate expected []byte for each example
	for i, example := range {{.TypeName}}_examples {
		want, err := json.Marshal(example.{{.TypeName}})
		if err != nil {
			panic(err)
		}
		{{.TypeName}}_examples[i].want = want
	}
}

func Test{{.TypeName}}_MarshalJSON(t *testing.T) {
	var tests []{{.TypeName}}Test
	for i, example := range {{$.TypeName}}_examples {
		tests = append(tests, {{$.TypeName}}Test{name: "Test" + strconv.Itoa(i),
			fields: {{.TypeName}}Ref{
		{{range $i, $field := .Fields }}
				{{$field.Name}}:  example.{{$.TypeName}}.{{$field.Name}},
        {{- end }}},
			want: example.want,
		})
	}
	for _, tt := range tests {
		y := {{.TypeName}}{
        {{ range $i, $field := .Fields }}
			{{$field.Name}}:  tt.fields.{{$field.Name}},
        {{- end }}
		}
		yRef := {{.TypeName}}Ref{
		{{ range $i, $field := .Fields }}
			{{$field.Name}}:  tt.fields.{{$field.Name}},
        {{- end }}
		}
		t.Run(tt.name+"_MarshalJSON_bytesBuffer", func(t *testing.T) {
			got, err := y.MarshalJSON_bytesBuffer()
			if err != nil {
				t.Errorf("{{.TypeName}}.MarshalJSON() error = %v", err)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{.TypeName}}.MarshalJSON() = %v, want %v", string(got), string(tt.want))
			}
		})
		t.Run(tt.name+"_MarshalJSON_append", func(t *testing.T) {
			got, err := y.MarshalJSON_append()
			if err != nil {
				t.Errorf("{{.TypeName}}.MarshalJSON() error = %v", err)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{.TypeName}}.MarshalJSON() = %v, want %v", string(got), string(tt.want))
			}
		})
		t.Run(tt.name+"_MarshalJSON_plus", func(t *testing.T) {
			got, err := y.MarshalJSON_plus()
			if err != nil {
				t.Errorf("{{.TypeName}}.MarshalJSON() error = %v", err)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{.TypeName}}.MarshalJSON() = %v, want %v", string(got), string(tt.want))
			}
		})
		t.Run(tt.name+"_json.Marshal", func(t *testing.T) {
			got, err := json.Marshal(y)
			if err != nil {
				t.Errorf("json.Marshal({{.TypeName}}) error = %v", err)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("json.Marshal({{.TypeName}}) = %v, want %v", string(got), string(tt.want))
			}
		})
		t.Run(tt.name+"_ref", func(t *testing.T) {
			got, err := json.Marshal(yRef)
			if err != nil {
				t.Errorf("{{.TypeName}}Ref.MarshalJSON() error = %v", err)
				return
			}
			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("{{.TypeName}}Ref.MarshalJSON() = %v, want %v", string(got), string(tt.want))
			}
		})
	}
}

/*
   Benchmark{{.TypeName}}_MarshalJSON
*/
func Benchmark{{.TypeName}}_MarshalJSON(b *testing.B) {
	tests := []struct {
		name    string
		fields  {{.TypeName}}Ref
	}{
		{name: "Test1", fields: {{.TypeName}}Ref{
		{{ range $i, $field := .Fields }}
			{{$field.Name}}:  {{$.TypeName}}_examples[0].{{$.TypeName}}.{{$field.Name}},
        {{- end }}},
		},
	}
	var a_append, a_plus, a_bytesBuffer []byte
	for _, tt := range tests {
		y := {{.TypeName}}{
        {{ range $i, $field := .Fields }}
			{{$field.Name}}:  tt.fields.{{$field.Name}},
        {{- end }}
		}
		yRef := {{.TypeName}}Ref{
		{{ range $i, $field := .Fields }}
			{{$field.Name}}:  tt.fields.{{$field.Name}},
        {{- end }}
		}
		b.Run(tt.name+"_MarshalJSON_bytesBuffer", func(b *testing.B) {
			for i := 0; i < b.N; i++ {
				a_bytesBuffer, _ = y.MarshalJSON_bytesBuffer()
			}
		})
		b.Run(tt.name+"_MarshalJSON_plus", func(b *testing.B) {
			for i := 0; i < b.N; i++ {
				a_plus, _ = y.MarshalJSON_plus()
			}
		})
		b.Run(tt.name+"_MarshalJSON_append", func(b *testing.B) {
			for i := 0; i < b.N; i++ {
				a_append, _ = y.MarshalJSON_append()
			}
		})
		b.Run(tt.name+"_json.Marshal_bytesBuffer", func(b *testing.B) {
			for i := 0; i < b.N; i++ {
				_, _ = json.Marshal(y)
			}
		})
		b.Run(tt.name+"_ref", func(b *testing.B) {
			for i := 0; i < b.N; i++ {
				_, _ = json.Marshal(yRef)
			}
		})
		log.Println("a_bytesBuffer: ", string(a_bytesBuffer), " a_plus: ", string(a_plus), " a_append :", string(a_append))
	}
}
{{end}}