// {{- /* Go Template */ -}}.
{{- define "string" -}}
    {{- method .Method .Start .Header }}{{.JSONName}}{{ method .Method .End "\\\"\"" -}}
    {{ method .Method "start" "" }}{{.Value}}{{ method .Method "end" "" -}}
    {{ if eq .Last "true" -}}
        {{ method .Method "start" "" }}"\"}"{{ method .Method "end" "" }}
    {{- end -}}
{{- end -}}

{{define "stringarray"}}
    {{ method .Method .Start .Header }}{{.JSONName}}[\"{{ method .Method .End "\"" }}
    for i, v := range {{.Value}} {
        if i > 0 {
            {{ method .Method "start" "\"" }}\",\"{{ method .Method "end" "\"" }}
        }
        {{ method .Method "start" "" }}v{{ method .Method "end" "" -}}
    }
    {{ if eq .Last "true" -}}
        {{ method .Method "start" "" }}"\"]}"{{ method .Method "end" "" -}}
    {{- end -}}
{{end}}

{{define "pointerstring"}}
    {{- $final := "\"" -}}
    {{ if eq .Last "true" -}}
        {{- $final = "}\"" -}}
    {{- end -}}
    if {{.Value}} != nil {
        {{- method .Method .Start .Header }}{{.JSONName}}{{ method .Method .End "\\\"\"" -}}
        {{ method .Method "start" "" }}*{{.Value}}{{ method .Method "end" "" -}}
        {{ method .Method "start" "" }}"\"{{ method .Method "end" $final }}
    } else {
        {{- method .Method .Start .Header }}{{.JSONName}}null{{ method .Method .End $final -}}
    }
{{end}}