// {{- /* Go Template */ -}}.
{{- define "string" -}}
    {{- $header := "\"," -}}
    {{- $end := "end" -}}
    {{- if eq .Start "firststart" -}}
        {{- $end = "firstend" -}}
        {{- $header = "\"{" -}}
    {{- else if eq .PreviousType "string" -}}
        {{- $header = "\"\\\"," -}}
    {{- end -}}
    {{- method .Method .Start $header }}{{.JSONName}}{{ method .Method $end "\\\"\"" -}}
    {{ method .Method "start" "" }}{{.Value}}{{ method .Method "end" "" -}}
    {{- if eq .End "lastend" -}}
        {{ method .Method "start" "\"\\\"}" }}{{ method .Method "end" "\"" -}}
    {{- end -}}
{{- end -}}