// {{- /* Go Template */ -}}.
{{- define "parsefield"}}
    {{- if isArray .FieldType -}}
        {{- template "parsearray" . -}}
    {{- else if eq .FieldType "string" -}}{{template "parsebasic" .}}
    {{- else if eq .FieldType "bool" -}}{{template "parsebasic" .}}
    {{- else if or (eq .FieldType "int")  (eq .FieldType "int16") (eq .FieldType "int32") (eq .FieldType "int64") -}}{{template "parsebasic" .}}
    {{- else if or (eq .FieldType "uint") (eq .FieldType "uint16") (eq .FieldType "uint32") (eq .FieldType "uint64") -}}{{template "parsebasic" .}}
    {{- else if or (eq .FieldType "float32") (eq .FieldType "float64") -}}{{template "parsebasic" .}}
    {{- else if or (eq .FieldType "int8") (eq .FieldType "uint8") (eq .FieldType "byte") -}}{{template "parsebasic" .}}
    {{- else if eq .FieldType "time.Time" -}}{{template "parsebasic" .}}
    {{- else if eq .FieldType "*string" -}}{{template "parsepointer" .}}
    {{- else if eq .FieldType "*bool" -}}{{template "parsepointer" .}}
    {{- else if or (eq .FieldType "*int") (eq .FieldType "*int16") (eq .FieldType "*int32") (eq .FieldType "*int64") -}}{{template "parsepointer" .}}
    {{- else if or (eq .FieldType "*uint") (eq .FieldType "*uint16") (eq .FieldType "*uint32") (eq .FieldType "*uint64") -}}{{template "parsepointer" .}}
    {{- else if or (eq .FieldType "*float32") (eq .FieldType "*float64") -}}{{template "parsepointer" .}}
    {{- else if or (eq .FieldType "*int8") (eq .FieldType "*uint8") (eq .FieldType "*byte") -}}{{template "parsepointer" .}}
    {{- else if eq .FieldType "*time.Time" -}}{{template "parsepointer" .}}
    {{- else -}}{{template "parsebasic" .}}
    {{- end -}}
{{end -}}

{{define "parsefloat32"}}
    df{{.FieldName}}, e{{.FieldName}} := strconv.ParseFloat(sdata[field.begin:dataEnd+1], 32)
    if e{{.FieldName}} != nil {
        err = e{{.FieldName}}
    } else {
        dffloat{{.FieldName}} := float32(df{{.FieldName}})
        {{.ReceiverName}}.{{.FieldName}} = {{.Pointer}}dffloat{{.FieldName}}
    }
{{end}}

{{define "parsefloat64"}}
    df{{.FieldName}}, e{{.FieldName}} := strconv.ParseFloat(sdata[field.begin:dataEnd+1], 64)
    if e{{.FieldName}} != nil {
        err = e{{.FieldName}}
    } else {
        {{.ReceiverName}}.{{.FieldName}} = {{.Pointer}}df{{.FieldName}}
    }
{{end}}

{{define "parseint"}}
    {{ if or (eq .FieldType "int") (eq .FieldType "int32") (eq .FieldType "uint") (eq .FieldType "uint32") }}
    df{{.FieldName}}, e{{.FieldName}} := strconv.ParseInt(sdata[field.begin:dataEnd+1], 10, 32)
    {{ else if or (eq .FieldType "int16") (eq .FieldType "uint16") }}
    df{{.FieldName}}, e{{.FieldName}} := strconv.ParseInt(sdata[field.begin:dataEnd+1], 10, 16)
    {{ else if or (eq .FieldType "int64") (eq .FieldType "uint64") }}
    df{{.FieldName}}, e{{.FieldName}} := strconv.ParseInt(sdata[field.begin:dataEnd+1], 10, 64)
    {{ end }}
    if e{{.FieldName}} != nil {
        err = e{{.FieldName}}
    } else {
        {{ if eq .FieldType "int" }}
        dfint{{.FieldName}} := int(df{{.FieldName}})
        {{ else if eq .FieldType "int16" }}
        dfint{{.FieldName}} := int16(df{{.FieldName}})
        {{ else if eq .FieldType "int32" }}
        dfint{{.FieldName}} := int32(df{{.FieldName}})
        {{ else if eq .FieldType "int64" }}
        dfint{{.FieldName}} := int64(df{{.FieldName}})
        {{ else if eq .FieldType "uint" }}
        dfint{{.FieldName}} := uint(df{{.FieldName}})
        {{ else if eq .FieldType "uint16" }}
        dfint{{.FieldName}} := uint16(df{{.FieldName}})
        {{ else if eq .FieldType "uint32" }}
        dfint{{.FieldName}} := uint32(df{{.FieldName}})
        {{ else if eq .FieldType "uint64" }}
        dfint{{.FieldName}} := uint64(df{{.FieldName}})
        {{ end }}
        {{.ReceiverName}}.{{.FieldName}} = {{.Pointer}}dfint{{.FieldName}}
    }
{{end}}

{{define "parsebool"}}
    {{.ReceiverName}}.{{.FieldName}} = (sdata[field.begin:dataEnd+1] == "true")
{{end}}

{{define "parsebyte"}}
    df{{.FieldName}}, e{{.FieldName}} := strconv.ParseInt(sdata[field.begin:dataEnd+1], 10, 8)
    if e{{.FieldName}} != nil {
        err = e{{.FieldName}}
    } else {
        {{ if eq .Pointer "&" }}
        dfbyte{{.FieldName}} := byte(df{{.FieldName}})
        {{.ReceiverName}}.{{.FieldName}} = &dfbyte{{.FieldName}}
        {{ else }}
        {{.ReceiverName}}.{{.FieldName}} =byte(df{{.FieldName}})
        {{ end }}
    }
{{end}}

{{define "parsetime"}}
    df{{.FieldName}}, e{{.FieldName}} := time.Parse({{.FieldName}}Format, sdata[field.begin+1:dataEnd])
    if e{{.FieldName}} != nil {
        err = e{{.FieldName}}
    } else {
        {{.ReceiverName}}.{{.FieldName}} = {{.Pointer}}df{{.FieldName}}
    }
{{end}}

{{define "parsestring"}}
    {{ if eq .Pointer "&" }}
    df{{.FieldName}} := sdata[field.begin+1 : dataEnd]
    {{.ReceiverName}}.{{.FieldName}} = {{.Pointer}}df{{.FieldName}}
    {{ else }}
    {{.ReceiverName}}.{{.FieldName}} = sdata[field.begin+1 : dataEnd]
    {{ end }}
{{end}}

{{define "parsebase64"}}
    df{{.FieldName}}, e{{.FieldName}} := base64.StdEncoding.DecodeString(sdata[field.begin+1:dataEnd])
    if e{{.FieldName}} != nil {
        err = e{{.FieldName}}
    } else {
        {{.ReceiverName}}.{{.FieldName}} = df{{.FieldName}}
    }
{{end}}

{{define "parseother"}}
    var df{{.FieldName}} {{.FieldType}}
    err = json.Unmarshal([]byte(sdata[field.begin:dataEnd+1]), &df{{.FieldName}})
    if err == nil {
        {{.ReceiverName}}.{{.FieldName}} = df{{.FieldName}}
    }
{{end}}

{{- define "parsebasic" -}}
    {{- if or (eq .FieldType "int") (eq .FieldType "int16") (eq .FieldType "int32") (eq .FieldType "int64") -}}
        {{- template "parseint" .}}
    {{- else if or (eq .FieldType "uint") (eq .FieldType "uint16") (eq .FieldType "uint32") (eq .FieldType "uint64") -}}
        {{- template "parseint" .}}
    {{- else if eq .FieldType "float64" -}}
        {{- template "parsefloat64" .}}
    {{- else if eq .FieldType "float32" -}}
        {{- template "parsefloat32" .}}
    {{- else if eq .FieldType "time.Time" -}}
        {{- template "parsetime" .}}
    {{- else if eq .FieldType "string" -}}
        {{- template "parsestring" .}}
    {{- else if eq .FieldType "byte" -}}
        {{- template "parsebyte" .}}
    {{- else if eq .FieldType "[]byte" -}}
        {{- template "parsebase64" .}}
    {{- else if eq .FieldType "bool" -}}
        {{- template "parsebool" .}}
    {{- else -}}
        {{- template "parseother" .}}
    {{- end -}}
{{- end -}}

{{define "parsepointer"}}
    if len(sdata) >= field.begin+4 && string(sdata[field.begin:field.begin+4]) == "null" {
        {{.ReceiverName}}.{{.FieldName}} = nil
    } else {
        {{- template "parsebasic" dict "FieldName" .FieldName "FieldType" (getPointerType .FieldType) "ReceiverName" .ReceiverName "Pointer" "&" -}}
    }
{{end}}